body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
header {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  padding: 2px;
  z-index: 9;
  margin-top: 40px;
}
.footer-links a {
  margin-right: 20px;
}
.favicon {
  height: 60px;
  width: 40px;
}

.hero-container h1 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  color: white;
  text-shadow: 2px 2px 2px black;
  white-space: nowrap;
}
.hero-container img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 46%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1% 18% 1% 18%;
  position: relative;
}

.button-container button {
  padding: 10px 2%;
  font-size: 14px;
  background-color: rgb(61, 98, 2, 20%);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button-container button:hover {
  text-decoration: underline;
  background-color: rgb(61, 98, 2, 30%);
}
.dropdown-container {
  left: 50%;
  transform: translate(-50%);
  
}
.dropdown-container,
.dogs-dropdown-container {
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  z-index: 1;
  border-radius: 10px;
  width: auto;
}
.button-container button:hover .dropdown-container,
.button-container button:hover .dogs-dropdown-container {
  display: flex;
}
.dropdown-container a,.dogs-dropdown-container a {
  font-size: 13px;
  padding: 10px;
  color: black;
  background-color: rgb(214, 221, 200);
  font-weight: 200;
  border-radius: 8px;
  margin: 1px;
}
.dropdown-container a:hover,.dogs-dropdown-container a:hover{
  background-color: rgb(192, 203, 169);

} 
.dogs-dropdown-container a {
  padding: 5px 15px;
}
.up-button {
  position: fixed;
  bottom: -100px;
  right: 10%;
  background-color: rgb(192, 203, 169);
  cursor: pointer;
  padding: 7px 5px 5px 5px;
  min-width: 30px;
  z-index: 99;
  font-size: 14px;
  font-weight: 900;
  transition: bottom 0.3s ease;
  color: rgb(57, 57, 57);
}

.up-button:hover {
  color: black;
  box-shadow: 0 0 20px rgb(61, 98, 2, 40%);
  cursor: pointer;
  font-size: 16px;
}

.error-container {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(96, 191, 183);
  max-width: 50%;
}

.fa-shield-dog {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 191, 183, 10%);
  z-index: 9999;
}
.loader {
  background-color: rgba(96, 191, 183, 0.5);
  padding: 40px;
  border-radius: 50%;
  font-size: 40px;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title-text {
  text-align: center;
  margin: 20px 5px;
  font-size: 40px;
  font-weight: 900;
}

.text-container,
.text-container-index {
  display: flex;
  margin: 5px auto;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  width: 60%;
  line-height: 30px;
  padding: 30px 80px;
}
.text-container {
  background-color: whitesmoke;
}
.text-container > p {
  font-size: 16px;
  font-weight: 100;
  margin: 15px 35px 30px 35px;
}

.dogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  gap: 30px;
  justify-content: center;
  margin: 50px 5% 30px 5%;
  min-height: 100%;
}

.dogs > div > a > img {
  max-width: 100%;
  width: 400px;
  height: 450px;
  object-fit: cover;
  object-position: 20%;
  position: relative;
}
.dogs > div {
  font-size: 18px;
  text-align: center;
  background-color: rgb(61, 98, 2, 20%);
  padding: 15px;
  background-clip: padding-box;
}
.dogs h3 {
  font-size: 20px;
  margin: 5px;
}
.dogs-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin: auto;
}
.dogs-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.dogs-info > img {
  display: flex;
  height: 50vh;
  max-width: 90%;
  margin-bottom: 20px;
  object-fit: contain;
  cursor: zoom-in;
}

.pedigree {
  max-width: 95%;
  height: auto;
  margin-bottom: 100px;
  cursor: zoom-in;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.carousel-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-gap: 30px;
  height: 540px;
  overflow: hidden;
  justify-content: space-around;
  margin: 20px 0px;
  text-align: center;
  width: 90%;
  justify-items: center;
}
.carousel-container div {
  background-color: rgb(61, 98, 2, 10%);
  border: solid rgb(61, 98, 2, 20%);
  padding: 20px;
  max-width: 240px;
  height: 425px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
}
.carousel-img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.carousel-title {
  font-size: 18px;
  margin-bottom: 10px;
  height: 37px;
  margin-top: 0px;
  overflow: auto;
}
.carousel-text {
  position: relative;
  max-width: 70%;
  margin: auto;
  font-size: 16px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.read-more {
  font-size: 14px;
  position: relative;
}

.blog-element {
  max-width: 240px;
  background-color: white;
  padding: 10px;
}
.next-button,
.prev-button {
  font-size: 20px;
  font-weight: 900;
  border-radius: 0px;
  background-color: transparent;
  border: transparent;
  padding: 10px 5px;
  margin: 0px 5px;
  color: rgb(23, 23, 23);
  cursor: pointer;
}
.next-button:hover,
.prev-button:hover {
  color: black;
}
.next-button:disabled {
  color: gray;
}

.blog-all-posts,
.blog-show-posts,
.blog-puppies-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  text-align: center;
  margin: 0px 40px;
  justify-content: center;
  align-items: center;
}

.blog-all-posts div,
.blog-show-posts div,
.blog-puppies-posts div {
  background-color: rgb(61, 98, 2, 10%);
  height: 100%;
  border: solid rgb(61, 98, 2, 20%);
  margin-top: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
}
.blog-all-posts div:hover,
.blog-show-posts div:hover,
.blog-puppies-posts div:hover,
.carousel-container div:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(61, 98, 2, 15%);
}

.blog-list-title {
  padding: 10px;
}
.blog-list-text {
  margin: 10px 80px;
}

.blog-list-image {
  width: 200px;
  height: 150px;
  padding: 10px;
  object-fit: contain;
}
.date {
  font-size: 11px;
  font-style: italic;
}
.blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.single-post {
  max-width: 70%;
  height: 100%;
  background-color: whitesmoke;
  padding: 10px 10%;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.wp-block-image {
  cursor: zoom-in;
  overflow: hidden;
  margin: auto;
}
.wp-block-gallery {
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 0px;
}
.wp-block-gallery img {
  padding: 0px;
  margin: 0px;
  align-items: center;
  object-fit: contain;
  max-width: 100%;
  width: auto;
  max-height: 200px;
  flex: 1;
}

.single-post img {
  display: block;
  object-fit: contain;
  margin: 10px auto;
  max-height: 40vh;
  width: 100%;
}
.single-post div p {
  margin: 20px auto;
  max-width: 600px;
  line-height: 30px;
}

.single-post p:first-child {
  text-align: center;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 38px;
  border-radius: 50%;
  background-color: rgba(157, 176, 126, 50%);
}
.close-button:hover {
  background-color: rgba(157, 176, 126);
}
.modal img {
  display: flex;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  min-height: 40vh;
  max-height: 80vh;
}
.modal {
  max-width: 80%;
  max-height: 90vh;
  background-color: whitesmoke;
}

.show-more-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  z-index: 1;
}

.show-more-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-left: 5px;
  padding: 10px;
  color: black;
}
.show-more-button:hover {
  font-size: larger;
}
.show-more-button i {
  font-size: 18px;
  margin-left: 10px;
  color: black;
}

.show-more-button:disabled {
  color: gray;
  font-size: large;
  cursor: default;
}

.form-container {
  border: solid rgb(61, 98, 2, 20%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0px auto 50px auto;
}
label {
  margin-bottom: 5px;
}
input,
textarea {
  margin-bottom: 20px;
  padding: 8px;
}
#submitButton {
  background-color: rgb(61, 98, 2, 40%);
  width: 100px;
  text-align: center;
  margin: 0px auto;
}
.success-message {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(61, 98, 2, 80%);
}

@media (min-width: 1450px) {
  .hero-container h1 {
    font-size: 56px;
  }

  .dropdown-container a {
    font-size: 15px;
  }
  .text-container,
  .text-container-index {
    max-width: 900px;
    font-size: 18px;
  }

  .carousel-container {
    width: 80%;
    margin: 20px 5px;
  }
  .blog-list-image {
    height: 200px;
    width: 300px;
  }
  .blog-list,
  .blog-puppies-posts,
  .blog-show-posts,
  .blog-all-posts {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 40px 90px;
  }
  .single-post div p {
    font-size: 17px;
    max-width: 800px;
  }

  .single-post img {
    width: 700px;
    height: auto;
    max-height: 400px;
  }
  .up-button {
    font-size: 16px;
    padding: 10px;
  }
}
@media (min-width: 1139px) {
  .blog-list-text {
    margin: 10px 40px;
  }
}
@media (max-width: 920px) {
  .hero-container img {
    height: 50vh;
  }
  .dogs {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 2%;
    margin: 100px 25px 50px 25px;
  }

  .dogs > div > a > img {
    width: 320px;
    height: 400px;
    object-position: 40%;
  }
  .dogs > div {
    font-size: 14px;
    min-height: 100%;
    margin-bottom: 5px;
  }
  .dogs-info,
  .dogs-info > div {
    margin-top: 20px;
    padding-top: 20px;
  }

  .title-text {
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-size: 36px;
    font-weight: 900;
  }
  .text-container,
  .text-container-index {
    padding: 30px 0px;
    max-width: 80%;
  }

  .form-container {
    width: 80%;
  }

  .blog-all-posts,
  .blog-show-posts,
  .blog-puppies-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
    gap: 28px;
    text-align: center;
    margin: 0px 28px;
  }

  .carousel-title {
    font-size: 14px;
  }
  .up-button {
    right: 3%;
  }
  .carousel-text {
    max-width: 90%;
    margin-bottom: 5px;
  }

  .carousel-container {
    height: 430px;
  }
  .carousel-container div {
    height: 380px;
  }
  .carousel-img {
    height: 150px;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 780px) {
  .carousel-title {
    font-size: 13px;
    line-height: 13px;
    overflow: visible;
  }
  .blog-list-text {
    margin: 10px 60px;
  }
}

@media (max-width: 699px) {
  .carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .carousel-container {
    width: 90%;
    height: 400px;
  }

  .carousel-container div {
    height: 320px;
  }

  .carousel-img {
    height: 150px;
    width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 620px) {
  .hero-container img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 50% 46%;
  }
  .hero-container h1 {
    font-size: 36px;
  }
  .title-text {
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-size: 26px;
    font-weight: 900;
  }
  .text-container p {
    margin: 5px 5px 30px 5px;
  }

  footer,
  footer a {
    font-size: 10px;
  }

  .dogs {
    display: block;
    margin: 20px 25px 50px 25px;
  }

  .dogs > div > a > img {
    object-position: center;
    height: 300px;
    width: auto;
  }
  .dogs > div {
    font-size: 12px;
    gap: 40px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .dogs-info {
    font-size: 14px;
  }

  .pedigree {
    margin: 0px;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 5% 30px 5%;
    position: relative;
  }
  .button-container a {
    font-size: 13px;
  }
  .button-container button {
    padding: 5px 2%;
  }

  .carousel-wrapper {
    margin-bottom: 20px;
  }
  .carousel-container {
    gap: 15px;
  }
  .carousel-text {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .carousel-title {
    height: 33px;
  }

  .form-container {
    width: 50%;
  }
  .text-container,
  .text-container-index {
    font-size: 14px;
    padding: 30px 50px;
    line-height: 30px;
  }
  .blog-all-posts,
  .blog-show-posts,
  .blog-puppies-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
    gap: 28px;
    text-align: center;
    margin: 0px 90px;
  }
  .blog-list-text {
    padding-bottom: 10px;
    max-width: 100%;
    margin: 10px 30px;
  }

  .single-post img {
    height: auto;
  }
  .single-post div p {
    max-width: 300px;
  }
}

@media (max-width: 520px) {
  .carousel-container div {
    max-width: 200px;
  }
}
@media (max-width: 350px) {
  .single-post div p {
    font-size: 13px;
  }
  .button-container {
    margin: 0px 2% 20px 2%;
  }
  .button-container a {
    font-size: 12px;
  }
  .button-container button {
    padding: 5px;
  }
  .footer-links {
    margin-left: 10px;
  }
  .title-text {
    font-size: 20px;
  }
  .text-container p {
    font-size: 12px;
    margin: 5px 5px 30px 5px;
  }
  .carousel-text {
    max-width: 90%;
    margin: auto;
    font-size: 14px;
  }
}
